<h2>Thong tin nam sinh: @ViewBag.Message</h2>
<form asp-action="Index">  
    <label>Nhap nam sinh</label>
    <input type = "text" name = "YearOfBirth">
    <label>Nhap ho ten</label>
    <input type = "text" name = "FullName">
    <input type="submit" value="Gui du lieu">
</form>