@model Demo_MVC.Models.Entities.Person

@{
    ViewData["Title"] = "Delete";
}

<h2>Xoá Person</h2>

<h3>Bạn có chắc chắn muốn xoá bản ghi này?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Họ tên</dt>
        <dd class="col-sm-10">@Model.FullName</dd>

        <dt class="col-sm-2">Năm sinh</dt>
        <dd class="col-sm-10">@Model.BirthYear</dd>

        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">@Model.Address</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="PersonId" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
