@model Demo_MVC.Models.Entities.Person

@{
    ViewData["Title"] = "Edit";
}

<h2>Chỉnh sửa Person</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PersonId" />
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthYear" class="control-label"></label>
        <input asp-for="BirthYear" class="form-control" />
        <span asp-validation-for="BirthYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
